<div class='row'>
  <div class='col-sm-3 col-xs-6' style="padding-right: 0px;">
    <nav class="navbar">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="http://elucidata.io/static/images/elucidata-logo-with-text.svg" class="img-responsive"></a>
      </div>
    </nav>
  </div>
    <div class='col-sm-6 col-xs-6 hidden-lg hidden-md hidden-sm' style="padding-left: 0px;">
    <nav class="navbar navbar-default" dropdown>
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" dropdownToggle data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
    </nav>
  </div>
  <div class='col-sm-9 hidden-xs' style="padding-left: 0px;">
    <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse navbar-right navbarH" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" class="ugline">Home</a></li>
        <li><a href="#" class="ugline">PRODUCT OFFERING </a></li>
        <li><a href="#" class="ugline">RESOURCES</a></li>
        <li><a href="#" class="ugline">CASE STUDY</a></li>
        <li><a href="#" class="ugline">PRICING</a></li>
        <li><a href="#" class="ugline">LOGIN</a></li>
      </ul>
    </div>
    </nav>
  </div>
</div>
<div  class="container-fluid">
  <div class="row">
    <div class="offer">
      <h1 style="text-align: center;">Our Offerings</h1>
    </div>
  </div>
  <div class="row bg">
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-block">
          <div class="card-body card-body-hover">
            <h5 class="card-title hovicon effect sub-a"> 1</h5>
            <p class="card-text">Mass Spec Omics</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-block">
          <div class="card-body card-body-hover">
            <h5 class="card-title hovicon effect sub-a">2</h5>
            <p class="card-text">Sequencing Omics</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-block">
          <div class="card-body card-body-hover">
            <h5 class="card-title hovicon effect sub-a">3</h5>
            <p class="card-text">Integrated Omics</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="card card-bg">
        <div class="card-block">
          <div class="card-body">
            <div class="col-md-4">
              <img src="http://elucidata.io/static/images/products/el-maven.svg" class="card-title img">
            </div>
            <div class="col-md-8 px-3 small-card-text">
              <h4 class="card-text small-card">Integrated Omics</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-bg">
        <div class="card-block">
          <div class="card-body">
            <img src="http://elucidata.io/static/images/products/polly.svg" class="card-title img">
            <h4 class="card-text small-card">Integrated Omics</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card card-bg">
        <div class="card-block">
          <div class="card-body">
            <img src="http://elucidata.io/static/images/products/el-maven.svg" class="card-title img">
            <h4 class="card-text small-card">Integrated Omics</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
</div>



